/* Webfont: Carson-Black */@font-face {
    font-family: 'Black';
    src: url('Carson-Black.eot'); /* IE9 Compat Modes */
    src: url('Carson-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Carson-Black.woff') format('woff'), /* Modern Browsers */
         url('Carson-Black.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Carson-Black.svg#Carson-Black') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

